$header-topbar-bg: #864343;

$header-bg: #723636;

$footer-claim-bg: #2a2a2a;

$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

$grey-color: #b6b6b6;

$hover-animation-bg-color: #d58e32;

$hover-animation-text-color: #d58e32;

$hover-animation-bg-time: 250ms;

$hover-animation-text-time: 250ms;

$font-button-color: #ffffff;

$product-old-price-color: #a5a5a5;

$default: #000;

$black-rgb: rgba(1, 2, 2, 0.2);

$product-old-price-color: #a5a5a5;

$background-hover: rgba(36, 34, 34, 0.4);

$link-color: rgb(46, 44, 44);

$phone-color: rgb(216, 216, 216);

$light-white: rgb(224, 227, 237);

$menu-bar-shadow: rgba(1, 2, 2, 0.2);

$grey-color: #b6b6b6;

$white-color: rgb(255, 255, 255);

$light-grey: rgb(216, 216, 216);

$light-white: rgb(224, 227, 237);

$black-color: rgb(42, 42, 42);

$background-border: rgba(0, 0, 0, 0.5);

$gallery-price: rgb(139, 196, 139);

$gallery-background: rgb(239, 239, 239);
$menu-color: #e2e2e2;

$background-photo-text-color: #292929;
$background-photo-right-color: #f4f5f7;
$background-button-color: #2a2a2a;
$button-border-color: #757575;
$header-detail-background: #7f7f7f;
