$header-topbar-bg: #864343;
$header-bg: #723636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

<<<<<<< HEAD
$font-button-color: #ffffff;
$product-old-price-color: #a5a5a5;
<<<<<<< HEAD

$font-button-color: #ffffff;
=======
$default: #000;
>>>>>>> Corrected notes from mentor
=======
$default: #000;
>>>>>>> Corrected notes from mentor
