<div class="header-details">
  <div class="container">
    <div class="row details-bar ">
      <div class="left-side">FURNITURE</div>
      <div class="right-side">
        <ul>
          <li>Home</li>
          <li><i class="fas fa-chevron-right"></i></li>
          <li><i class="fas fa-chevron-down"></i></li>
          <li>Furniture</li>
          <li><i class="fas fa-chevron-right"></i></li>
          <li><i class="fas fa-chevron-down"></i></li>
          <li>Chair</li>
        </ul>
      </div>
    </div>
  </div>
</div>
