<div class="section-promotion">
  <div class="container">
    <div class="row">
      <div class="col-4 hot-deals-section">
        <div class="row text-center hot-deals">
          <div class="col-7 d-flex justify-content-center align-items-center">
            HOT DEALS
          </div>
          <div class="col-5 d-flex justify-content-end align-items-center">
            <ul>
              <li><a href="#" class="active"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
        </div>
        <div class="section--products">
          <div class="product-box">
            <div class="photo">
              <div class="add-card">
                <a href="#" class="btn-main-small">
                  <i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
              <div class="row section-date">
                <div class="date">
                  <h5>25</h5>
                  <p>days</p>
                </div>
                <div class="date">
                  <h5>10</h5>
                  <p>HRS</p>
                </div>
                <div class="date">
                  <h5>45</h5>
                  <p>MINS</p>
                </div>
                <div class="date">
                  <h5>30</h5>
                  <p>SECS</p>
                </div>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price"><div class="btn-main-small price">$ 30.00</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 promotion-photo-section">
        <div class="row">
          <div class="photo-right"></div>
          <div class="photo-text">
            <h2>INDOOR <strong>FURNITURE</strong></h2>
            <p>SAVE UP TO 50% OF ALL FURNITURE</p>
          </div>
          <div class="photo-button">
            <button class="btn photo-button-element"><a href="#">SHOP NOW</a></button>
          </div>
        </div>
        <div class="row">
          <div class="col-6 next-prev-button active"><a href="#"><</a></div>
          <div class="col-6 next-prev-button"><a href="#">></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
