<div class="section-promotion">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row text-center hot-deals ">
          <div class="col-7 d-flex justify-content-center align-items-center">
            HOT DEALS
          </div>
          <div class="col-5 d-flex justify-content-end align-items-center">
            <ul>
              <li><a href="#" class="active"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
        </div>
        <div class="section--products">
          <div class="product-box">
            <div class="photo">
              <div>
                <a href="#" class="btn-main-small">
                  <i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
              <div class="row section-date">
                <div class="col-3">
                  <div class="date">
                    <h5>25</h5>
                    <p>days</p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="date">
                    <h5>25</h5>
                    <p>days</p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="date">
                    <h5>25</h5>
                    <p>days</p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="date">
                    <h5>25</h5>
                    <p>days</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price"><div class="btn-main-small price">$ 30.00</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 promotion-photo-section">
        <div class="row">
          <div class="photo"></div>
          <div class="photo-text">
            <h2>INDOOR <strong>FURNITURE</strong></h2>
            <p>SAVE UP TO 50% OF ALL FURNITURE</p>
          </div>
          <div class="photo-button">
            <button class="btn-main-small">SHOP NOW</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6 next-prev-button"><</div>
          <div class="col-6 next-prev-button">></div>
        </div>
      </div>
    </div>
  </div>
</div>
