<div class="section--deals">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="deals-left">
          <a href="#"
            ><img src=".\images\sofa.jpg" alt="sofa" />
            <h4>GUEST ROOM</h4>
            <h3>SOFA</h3>
            <h3 class="discount">-20%</h3>
          </a>
        </div>
      </div>

      <div class="col-6">
        <div class="deals-right">
          <div class="row">
            <div class="col-12">
              <a href="#"
                ><img src=".\images\chairs.jpg" alt="chairs" />
                <h2>OFFICE</h2>
                <h2>Chair</h2>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="#"
                ><img src=".\images\chairs.jpg" alt="chairs" />
                <h2>OFFICE</h2>
                <h2>Chair</h2>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
