<div class="section--deals">
  <div class="container">
    <div class="row">
      <div class="col-6 ">
        <div class="deal-box-left">
          <a href="#">
            <div class="photo">
              <img src=".\images\sofa.jpg" alt="sofa" />
              <div class="border"></div>
              <div class="text-left">
                <h3>GUEST ROOM</h3>
                <h2>SOFA</h2>
                <div class="discount">-20%</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6">
        <div class="deal-box-right upper-box">
          <a href="#">
            <div class="photo">
              <img src=".\images\fotel2.jpg" alt="chairs" />
              <div class="text-right-up">
                <div class="first-paragraph">
                  <div class="bold">OFFICE</div>
                  <div class="not-bold">CHAIR</div>
                </div>
                <p class="second-paragraph">COLLECTION</p>
                <p class="third-paragraph">$200.00</p>
              </div>
            </div>
          </a>
        </div>
        <div class="deal-box-right">
          <a href="#">
            <div class="photo">
              <img src=".\images\lozko.jpg" alt="chairs" />
              <div class="text-right-down">
                <div class="first-paragraph">
                  <div class="bold">SPECIAL</div>
                  <div class="not-bold">COLLECTION</div>
                </div>
                <p class="second-paragraph">SAVE UP 45% OF FURNITURE</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
