<div class="section--deals">
  <div class="container">
    <div class="row">
      <div class="deal-panel">
        <div class="col-6">
          <div class="deals-left">
            <a href="#"
              ><img src="" />
              <h4>GUEST ROOM</h4>
              <h3>SOFA</h3>
              <h3 class="discount">-20%</h3>
            </a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="deals-right">
          <div class="row">
            <div class="col-12">
              <a href="#"
                ><img src="" />
                <h2>OFFICE</h2>
                <h2>Chair</h2>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
