<div class="section--products">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>New furniture</h3></div>
        <div class="col menu">
          <ul>
            <li class="active accordion"><a href="#chair">Bed</a></li>
            <li class="accordion"><a href="#dining">Chair</a></li>
            <li class="accordion"><a href="#chair">Sofa</a></li>
            <li class="accordion"><a href="#chair">Table</a></li>
            <li class="accordion"><a href="#dining">Dining</a></li>
          </ul>
        </div>
        <div class="col-auto dots">
          <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row items_active show" id="chair">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="product-box">
          <div class="photo">
            <img
              src="https://urzadzaj24.pl/3227-large_default/kanapa-pikowana-doria-.jpg"
              alt="kanapa1"
            />
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small box-button">Quick View</a>
              <a href="#" class="btn-main-small box-button"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="old-price">$ 35.00</div>
            <div class="price"><div class="btn-main-small price">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="product-box">
          <div class="photo">
            <img
              src="https://urzadzaj24.pl/1770-tm_large_default/cesar-vip-2-sofa-z-funkcja-spania.jpg"
              alt="sofa do spania"
            />
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small box-button">Quick View</a>
              <a href="#" class="btn-main-small box-button"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline active"
                ><i class="fas fa-exchange-alt"></i
              ></a>
            </div>
            <div class="old-price">$ 35.00</div>
            <div class="price"><div class="btn-main-small price">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="product-box">
          <div class="photo">
            <img
              src="https://urzadzaj24.pl/1936-tm_large_default/deram-2-wspania%C5%82a-sofa-z-funkcj%C4%85-spania.jpg"
              alt="soda czarna"
            />
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small box-button">Quick View</a>
              <a href="#" class="btn-main-small box-button"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline active"
                ><i class="fas fa-exchange-alt"></i
              ></a>
            </div>
            <div class="price"><div class="btn-main-small price">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="product-box">
          <div class="photo">
            <img
              src="https://urzadzaj24.pl/1321-tm_large_default/%C5%82%C3%B3%C5%BCko-drewniane-bursztyn.jpg"
              alt="lozko drewniane"
            />
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small box-button">Quick View</a>
              <a href="#" class="btn-main-small box-button"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small price">$ 30.00</div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row items_active" id="dining">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="product-box">
          <div class="photo">
            <img
              src="https://urzadzaj24.pl/2919-tm_large_default/%C5%82%C3%B3%C5%BCko-deko.jpg"
              alt="duza sofa"
            />
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small box-button">Quick View</a>
              <a href="#" class="btn-main-small box-button"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small price">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="product-box">
          <div class="photo">
            <img
              src="https://urzadzaj24.pl/3093-tm_large_default/%C5%82%C3%B3%C5%BCko-skandynawskie-borys-2.jpg"
              alt="skandynawskie meble"
            />
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small box-button">Quick View</a>
              <a href="#" class="btn-main-small box-button"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline active"
                ><i class="fas fa-exchange-alt"></i
              ></a>
            </div>
            <div class="price"><div class="btn-main-small price">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="product-box">
          <div class="photo">
            <img
              src="https://urzadzaj24.pl/3103-tm_large_default/klasyczne-%C5%82%C3%B3%C5%BCko-tapicerowane-king.jpg"
              alt="tapicerowane"
            />
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small box-button">Quick View</a>
              <a href="#" class="btn-main-small box-button"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline active"
                ><i class="fas fa-exchange-alt"></i
              ></a>
            </div>
            <div class="price"><div class="btn-main-small price">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="product-box">
          <div class="photo">
            <img
              src="https://urzadzaj24.pl/3128-tm_large_default/%C5%82%C3%B3%C5%BCko-w-stylu-w%C5%82oskim-amon.jpg"
              alt="lozko w stylu wloskim"
            />
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small box-button">Quick View</a>
              <a href="#" class="btn-main-small box-button"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small price">$ 30.00</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
