<div class="section--gallery">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col-auto heading"><h3>FURNITURE GALLERY</h3></div>
          </div>
        </div>
        <div class="box-left">
          <div class=" menu">
            <ul>
              <li class="accordion"><a href="#featured">FEATURED</a></li>
              <li class="active accordion"><a href="#seller">TOP SELLER</a></li>
              <li class="accordion"><a href="#sale">SALE OFF</a></li>
              <li class="accordion"><a href="#rated">TOP RATED</a></li>
            </ul>
          </div>

          <div class="left-button-panel">
            <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
            <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
            <a href="#" class="btn-outline"><i class="fas fa-shopping-basket"></i></a>
          </div>

          <div class="slider-down"><div class=""</div>
        </div>
      </div>
      <div class="col-6">
        <div class="box-right">
          <img src="./images/bed-gallery.jpg" alt="bed" />
          <div class="right-text">
            <div class="paragraph-one">
              <div class="first-word">FROM</div>
              <div class="price">$50.80</div>
            </div>
            <div class="paragraph-two">Bedroom Bed</div>
            <a href="#" class="btn-ship">SHIP NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
