<div class="section--gallery">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col-auto heading"><h3>FURNITURE GALLERY</h3></div>
            <div class="col"></div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="box-right">
          <div class="text-right">
            <div class="paragraph-one">
              <div class="first-word">FROM</div>
              <div class="price">$50.80</div>
            </div>
            <div class="paragraph-two">Bedroom Bed</div>
            <div class="paragraoh-three">SHIP NOW</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
