<div class="section--gallery">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col-auto heading col-12"><h3>FURNITURE GALLERY</h3></div>
          </div>
        </div>
        <div class="box-left">
          <div class=" menu">
            <ul>
              <li class="accordion"><a href="#featured">FEATURED</a></li>
              <li class="accordion"><a href="#seller" class="active">TOP SELLER</a></li>
              <li class="accordion"><a href="#sale">SALE OFF</a></li>
              <li class="accordion"><a href="#rated">TOP RATED</a></li>
            </ul>
          </div>

          <img src="./images/fot.jpg" alt="chair orange" />

          <div class="left-button-panel">
            <a href="#" class="btn-outline"
              ><i class="far fa-heart"></i
              ><span class="tooltiptext">Add to favourite</span></a
            >
            <a href="#" class="btn-outline"
              ><i class="fas fa-exchange-alt"></i
              ><span class="tooltiptext">Refresh</span></a
            >
            <a href="#" class="btn-outline"
              ><i class="far fa-eye"></i><span class="tooltiptext">Full view</span></a
            >
            <a href="#" class="btn-outline"
              ><i class="fas fa-shopping-basket"></i
              ><span class="tooltiptext">Add to cart</span></a
            >
          </div>

          <div class="description-box">
            <div class="text">Aenean Ru Bristique</div>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>

          <div class="price-status">
            <div class="actual-price">$120.00</div>
            <div class="last-price">$160.00</div>
          </div>

          <div class="slider-down">
            <div class="slider-left"><i class="fas fa-chevron-left"></i></div>
            <div class="slider-main-active"><img src="./images/fot.jpg" /></div>
            <div class="slider-main"><img src="./images/fotel1.jpg" /></div>
            <div class="slider-main"><img src="./images/fotel3.jpg" /></div>
            <div class="slider-main"><img src="./images/fotel4.jpg" /></div>
            <div class="slider-main"><img src="./images/fotel5.jpg" /></div>
            <div class="slider-main"><img src="./images/fotell6.jpg" /></div>
            <div class="slider-right"><i class="fas fa-chevron-right"></i></div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="box-right">
          <img src="./images/bed-gallery.jpg" alt="bed" />
          <div class="right-text">
            <div class="paragraph-one">
              <div class="first-word">FROM</div>
              <div class="price">$50.80</div>
            </div>
            <div class="paragraph-two">Bedroom Bed</div>
            <a href="#" class="btn-ship">SHIP NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
