<div class="section-brands">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="btn">
          <button class="col-auto slider button-previous"><</button>
        </div>
        <div class="col menu">
          <img src="images/brand1.png" alt="brand-one" />
          <img src="images/brand2.png" alt="brand-two" />
          <img src="images/brand3.png" alt="brand-three" />
          <img src="images/brand4.png" alt="brand-four" />
          <img src="images/brand5.png" alt="brand-five" />
          <img src="images/brand6.png" alt="brand-six" />
        </div>
        <div class="btn"><button class="col-auto slider button-next">></button></div>
        <div class="col-auto slider"><</div>
        <div class="col menu">
          <ul>
            <li><img src="images/brand1.png" alt="brand-one" /></li>
            <li><img src="images/brand2.png" alt="brand-two" /></li>
            <li><img src="images/brand3.png" alt="brand-three" /></li>
            <li><img src="images/brand4.png" alt="brand-four" /></li>
            <li><img src="images/brand5.png" alt="brand-five" /></li>
            <li><img src="images/brand6.png" alt="brand-six" /></li>
          </ul>
        </div>
        <div class="col-auto slider">></div>
      </div>
    </div>
  </div>
</div>
