.btn-main {
  background-color: $text-color;
  color: $font-button-color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.no-hover):hover {
    color: #ffffff !important;
    text-decoration: none;
  }
}

.btn-main-small {
  @extend .btn-main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.btn-outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $text-color;
  color: $text-color;
  font-size: 13px;
  line-height: 22px;
  &:hover {
    background-color: $text-color;
    color: $font-button-color;
  }
}

.outlines > .active {
  background-color: $primary;
  color: $font-button-color;
  border-color: $primary;
}
