.btn-main {
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;
}

.product-box:hover .btn-main-small {
  color: #ffffff !important;
  background-color: $primary;
  text-decoration: none;
  transition: all 1s;
  display: block;
}

.btn-main-small {
  @extend .btn-main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
  display: none;
}

.no-hover {
  display: block;
}

.btn-outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  font-size: 13px;
  line-height: 22px;

  &:hover {
    background-color: #2a2a2a;
    color: #ffffff;
  }
}
