.section--deals {
  padding: 0 0 5rem;

  .deal-box-left {
    height: 400px;

    .photo {
      position: relative;
      margin: 0;
      padding: 0;

      img {
        width: 100%;
        height: 400px;
      }
    }
  }

  .deal-box-right {
    height: 185px;

    .photo {
      position: relative;
      margin: 0;
      padding: 0;

      img {
        width: 100%;
        height: 185px;
      }
    }
  }
  .upper-box {
    margin-bottom: 30px;
  }

  .border {
    position: absolute;
    margin: 0;
    padding: 5%;
    width: 90%;
    height: 90%;
    background-color: $background-border;
    top: 5%;
    left: 5%;
    border: none;
  }

  .text-left {
    position: absolute;

    bottom: 10%;
    left: 10%;
    color: $white-color;
    h3 {
      margin: 0;
      font-size: 2rem;
      line-height: 2rem;
    }
    h2 {
      font-size: 3rem;
      line-height: 3rem;
    }
  }

  .text-right-up {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .first-paragraph {
      display: flex;
      font-size: 2rem;
      color: $default;
      line-height: 2rem;

      .bold {
        font-weight: bold;
        padding-right: 1rem;
      }
    }
    .second-paragraph {
      font-size: 1.5rem;
      color: $default;
      margin: 0;
      line-height: 1.5rem;
    }
    .third-paragraph {
      font-size: 2rem;
      color: $primary;
      font-weight: bold;
      margin: 0;
    }
  }
  .text-right-down {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
    text-align: right;

    .first-paragraph {
      display: flex;
      font-size: 1.5rem;
      color: $primary;
      line-height: 1.5rem;

      .bold {
        font-weight: bold;
        padding-right: 1rem;
      }
    }
    .second-paragraph {
      font-size: 1.1rem;
      color: $default;
      margin: 0;
    }
  }
  .discount {
    border: 3px solid $white-color;
    margin-right: 35%;
    text-align: center;
    font-size: 3rem;
  }
}
