.feature-box {
  border: 1px solid $grey-color;
  text-align: center;
  margin-top: 40px;

  .icon {
    transform: translateY(-50%);

    i {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      position: relative;
      color: $text-color;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $grey-color;
    }

    &::before {
      content: "";
      border: 1px solid $grey-color;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 76px;
      height: 76px;
      border-radius: 100%;
      background-color: $font-button-color;
      z-index: -1;
    }
  }

  .content {
    text-transform: uppercase;
    color: $black-color;
    margin-top: -0.5rem;
    letter-spacing: 1px;

    h5 {
      font-weight: 600;
      margin: 0;
    }

    p {
      font-weight: 300;
    }
  }

  &.active {
    cursor: pointer;

    i {
      background-color: $primary;
      color: $white-color;
      border-color: $primary;
    }

    .content {
      color: $primary;
    }
  }
}

.hover_box:hover {
  cursor: pointer;

  i {
    background-color: $primary;
    color: $white-color;
    border-color: $primary;
  }

  .content {
    color: $primary;
  }
}

@media (hover: none) {
  .feature-box {
    i {
      background-color: $primary;
      color: $font-button-color;
      border-color: $primary;
      cursor: pointer;
    }

    .content {
      color: $primary;
    }
  }
}

.hover_box:hover {
  cursor: pointer;
  i {
    background-color: $primary;
    color: $font-button-color;
    border-color: $primary;
  }

  .content {
    color: $primary;
  }
}

@media (hover: none) {
  .feature-box {
    i {
      background-color: $primary;
      color: $font-button-color;
      border-color: $primary;
      cursor: pointer;
    }

    .content {
      color: $primary;
    }
  }
}
