header {
  .top-bar {
    background-color: $header-topbar-bg;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        line-height: 55px;

        a {
          color: $font-button-color;
          font-size: 13px;

          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }

    .text-left ul li {
      margin-right: 1.5rem;

      i {
        margin-left: 5px;
      }
    }

    .text-right ul li {
      margin-left: 1.5rem;

      i {
        margin-right: 5px;
      }
    }
  }

  .company-claim {
    background-color: $header-bg;

    .container > .row {
      height: 145px;
    }

    .phone-number {
      p {
        margin: 0;
        font-size: 17px;
        line-height: 42px;
        color: rgb(216, 216, 216);
        font-weight: 500;

        i {
          font-size: 32px;
          color: $primary;
          vertical-align: middle;
          margin-top: -3px;
          margin-right: 0.8rem;
        }
      }
    }

    .cart {
      .cart-box {
        display: inline-block;
        position: relative;
        color: $font-button-color;

        .cart-icon {
          background-color: $primary;
          width: 55px;
          height: 50px;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;

          i {
            margin-right: 5px;
          }
        }

        .cart-counter {
          width: 28px;
          height: 27px;
          border-radius: 14px;
          background-color: $header-bg;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          color: rgb(224, 227, 237);
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(50%, -50%);
        }

        &:hover {
          .cart-icon {
            background-color: lighten($primary, 10%);
          }
        }
      }
    }
  }

  .menu-bar {
    box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
    background-color: $font-button-color;

    .container > .row {
      height: 84px;
    }

    .menu {
      display: flex;
      align-self: stretch;

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          display: flex;
          align-items: stretch;

          a {
            color: $text-color;
            text-transform: uppercase;
            font-size: 12px;
            padding: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            border-top: 4px solid $font-button-color;
            font-weight: 500;
            letter-spacing: 1px;

            &:hover,
            &.active {
              background-color: $primary;
              color: $font-button-color;
              border-color: $primary;
            }

            &.active {
              border-color: $text-color;
            }
          }
        }
      }
    }

    .search-form {
      border: 1px solid $form-border-color;
      display: inline-flex;
      height: 45px;
      color: $text-color;

      .category {
        border-right: 1px solid $form-border-color;
        display: flex;
        align-items: center;
        width: 220px;
        position: relative;
        &:hover {
          background-color: rgba(36, 34, 34, 0.4);
        }

        &:hover {
          background-color: $background-hover;
        }

        i:first-child {
          color: $primary;
          position: absolute;
          left: 10px;
          z-index: 0;
        }

        i:last-child {
          position: absolute;
          right: 10px;
          z-index: 0;
        }

        .ddproducts {
          -webkit-appearance: none;
          border: 0;
          outline: 0;
          background-color: transparent;
          outline: none;
          padding: 5px 30px 5px 35px;
          font-size: 14px;
          position: relative;
          z-index: 1;
          cursor: pointer;
          option {
            background-color: $primary;
          cursor: pointer;

          .list-ul {
            background-color: $primary;
            list-style-type: none;
            font-size: 15px;
            padding: 0;
            text-align: center;
            width: 220px;
            position: absolute;
            z-index: 10;
            top: 37px;
            left: -1px;
            display: none;
            a {
              color: $link-color;
              text-decoration: none;
            }
            li {
              padding: 5px 0;
              display: block;
              &:hover {
                background-color: $background-hover;
              }
              &:hover a {
                color: $font-button-color;
              }
            }
            li > ul {
              position: absolute;
              top: 70px;
              left: 220px;
              z-index: 10;
              width: 200px;
              padding-inline-start: 0px;
              background-color: $primary;
              display: none;
            }
            .link-sofa > ul a {
              color: $link-color;
              &:hover {
                color: $font-button-color;
              }
            }
            .link-sofa:hover ul {
              display: block;
            }
          }
        }
      }

      .category:hover .list-ul {
        display: block;
      }

      .search-field {
        display: flex;
        align-items: center;
        position: relative;
        width: 220px;
        input {
          border: 0;
          padding-left: 10px;
          font-size: 14px;
          outline: none;
          background-color: transparent;
          cursor: pointer;

          &::placeholder {
            color: $product-old-price-color;
          }
        }

        button {
          border: 0;
          background-color: transparent;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
}
