.hover-duration {
  transition: color $hover-animation-text-time linear,
    background-color $hover-animation-bg-time linear;
}
.hover-text {
  color: $hover-animation-text-color;
}
.hover-bg {
  background-color: $hover-animation-bg-color;
}
