.section-promotion {
  padding-top: 25px;
  font-size: 1.25rem;
  margin: 5px;

  .hot-deals-section {
    @media (max-width: 768px) {
      display: none;
    }

    .hot-deals {
      border: 1px solid $black-color;
      margin: 0;
      padding: 10px 0;
      background-color: $black-color;
      color: $white-color;
    }

    ul {
      margin: 0;
      padding: 0 0 0 1rem;
      list-style: none;

      li {
        display: inline-block;
        margin-left: 0.5rem;

        a {
          display: block;
          width: 13px;
          height: 13px;
          border-radius: 6px;
          background-color: $white-color;
          padding: 0;

          &.active,
          &:hover {
            background-color: $primary;
          }
        }
      }
    }
    .photo {
      padding: 0;
      position: relative;

      .add-card {
        position: absolute;
        left: 33%;
        top: 40%;
        visibility: hidden;
        opacity: 0.8;

        a {
          padding: 15px 20px;
        }
      }
      &:hover .add-card {
        visibility: visible;
      }

      .section-date {
        margin: 0 10px;
        position: absolute;
        top: 320px;
        width: 90%;
        left: 22px;
        visibility: hidden;

        .date {
          margin: 0 2px;
          border-radius: 100%;
          border: 2px solid $black-color;
          background-color: $black-color;
          opacity: 0.8;
          text-align: center;
          width: 22%;
          padding: 8px;

          h5,
          p {
            margin: 0;
            padding: 0;
            font-size: 1rem;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            color: $white-color;
          }
        }
      }
      &:hover .section-date {
        visibility: visible;
      }
    }
  }
  .promotion-photo-section {
    text-align: center;
    position: relative;

    .photo-right {
      background-color: $white-color;
      max-width: 100%;
      padding: 67px 0;

      @media (max-width: 1200px) {
        padding: 6px 0;
      }
      @media (max-width: 992px) {
        padding: 17px 0;
      }
      @media (max-width: 768px) {
        padding: 17px 0;
        margin: 0 auto;
      }
      img {
        max-width: 100%;
        overflow: hidden;
      }
    }

    .photo-text {
      position: absolute;
      top: 120px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $background-photo-text-color;
      color: $font-button-color;
      padding: 50px 0;
      width: 100%;
      opacity: 0.3;
      h2,
      p {
        color: white;
        opacity: 1;
      }

      @media (max-width: 576px) {
        top: 40px;
      }
    }
    .photo-button {
      border: 1px solid $button-border-color;
      border-radius: 5px;
      position: absolute;
      top: 290px;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: 576px) {
        top: 190px;
      }

      .photo-button-element {
        background-color: $white-color;
        border-radius: 5px;
        padding: 15px 25px;

        a {
          color: $black-color;
          text-decoration: none;
          font-size: 15px;
        }
      }
    }
  }

  .next-prev-button {
    background-color: $background-button-color;
    border: 1px solid $button-border-color;
    padding: 20px 20px;

    a {
      color: $white-color;
      position: absolute;
      left: 43%;
    }

    &.active,
    &:hover {
      background-color: $primary;
    }
    &:active {
      background-color: $primary;
    }
  }
}
