.section-promotion {
  padding-top: 5px;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 5px;

  .hot-deals {
    border: 1px solid black;
    margin: 0;
    padding: 2px 0;
    background-color: black;
    color: white;
  }

  ul {
    margin: 0;
    padding: 0 0 0 1rem;
    list-style: none;

    li {
      display: inline-block;
      margin-left: 0.5rem;

      a {
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 6px;
        background-color: #ffffff;
        padding: 0;

        &.active,
        &:hover {
          background-color: $primary;
        }
      }
    }
  }
  .section-date {
    .date {
      border-radius: 100%;
      border: 2px solid black;
      padding: 5px;
      text-align: center;

      h5 {
        margin: 0;
        padding: 0;
      }

      p {
        font-size: 1rem;
        margin: 0;
        padding: 0;
      }
    }
  }
  .promotion-photo-section {
    margin-bottom: 2rem;
    border: 2px solid black;

    .photo {
      padding: 66% 10px 0 10px;
      position: relative;
      background: {
        color: #f4f5f7;
        size: contain;
        position: center;
        repeat: no-repeat;
      }
      overflow: hidden;
      align-items: flex-end;
    }
    .photo-text {
      position: absolute;
      top: 200px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #292929;
      color: $font-button-color;
      padding: 50px 0;
      width: 100%;
      text-align: center;
    }
    .photo-button {
    }
  }
  .next-prev-button {
    height: 20%;
    background-color: blue;
    border: 2px solid black;
  }
}
